@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Outfit:wght@100;400&family=PT+Serif:ital@1&display=swap');
*{
    font-family:'Courgette', cursive;
}

:root{
    --primary-color:#7c3aed;

    --secondery-color:#ea580c;
}
h1{
    color: var(--primary-color);
}
h2{
    color: var(--secondery-color);
}

#primary{
    color: var(--primary-color);
}
#secondary{
    color: var(--secondery-color);
}